/*
 * chrondash css stylesheet
 *
 * This stylesheet must appear in the header before any Angular source to ensure
 * correct handling of ng-cloak.
 */

main {
	margin: 2em auto;
}

/* table data formatting */
th, td {
	text-align: center;
	word-break: break-all;
}

.cd-responsive th, .cd-responsive td {
	text-align: left;
	word-break: normal;
}

/* ingest controls */

#cd-ingest-controls {
	margin-bottom: 1em;
}

#cd-ingest-controls label {
	font-weight: bold;
}

/*
 * html elements (and their children) that are tagged with the ngCloak directive
 * are hidden until the template has completed compilation.
 */
[ng-cloak] {
    display: none;
}
