<!--
    Partial view for storage summary page.
-->
<div class="row">
	<div class="col">

		<h3>Production</h3>

		<table class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr class="d-flex">
					<th class="col-3" scope="col">Node</th>
					<th class="col-3" scope="col">Disk Used</th>
					<th class="col-3" scope="col">Num Bags</th>
					<th class="col-3" scope="col">Num Files</th>
				</tr>
			</thead>
			<tbody>
				<tr class="d-flex" ng-repeat="prodstorage in prodStorageStatus | orderBy: 'node'" >
					<td class="col-3">{{prodstorage.node}}</td>
					<td class="col-3">{{prodstorage.bytes}}</td>
					<td class="col-3">{{prodstorage.bags}}</td>
					<td class="col-3">{{prodstorage.files}}</td>
				</tr>
			</tbody>
		</table>

		<div class="m-3" ng-show="loading.production">
			<div class="d-flex justify-content-center">
				<div class="spinner-border text-secondary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>

		<!--
		Dismissible alert for no data. The alert is displayed when showAlertMessage
		is true. The Angular directive alertMessage is defined in:
		js/alertMessage.js
		-->
		<alert-message><strong>Note:</strong> No data found for selection.</alert-message>

	</div>
</div>

<div class="row">
	<div class="col">

		<h3>Test</h3>

		<table class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr class="d-flex">
					<th class="col-3" scope="col">Node</th>
					<th class="col-3" scope="col">Disk Used</th>
					<th class="col-3" scope="col">Num Bags</th>
					<th class="col-3" scope="col">Num Files</th>
				</tr>
			</thead>
			<tbody>
				<tr class="d-flex" ng-repeat="teststorage in testStorageStatus | orderBy: 'node'" >
					<td class="col-3">{{teststorage.node}}</td>
					<td class="col-3">{{teststorage.bytes}}</td>
					<td class="col-3">{{teststorage.bags}}</td>
					<td class="col-3">{{teststorage.files}}</td>
				</tr>
			</tbody>
		</table>

		<div class="m-3" ng-show="loading.test">
			<div class="d-flex justify-content-center">
				<div class="spinner-border text-secondary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>

		<!--
		Dismissible alert for no data. The alert is displayed when showAlertMessage
		is true. The Angular directive alertMessage is defined in:
		js/alertMessage.js
		-->
		<alert-message><strong>Note:</strong> No data found for selection.</alert-message>

	</div>
</div>
