<!--
    Partial view for home page.
-->
<div class="row">
	<div class="col">

		<h3>Production</h3>

		<table class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr class="d-flex">
					<th class="col-4" scope="col">Node</th>
					<th class="col-4" scope="col">Ace Status</th>
					<th class="col-4" scope="col">Ingest Status</th>
				</tr>
			</thead>
			<tbody>
				<tr class="d-flex" ng-repeat="prodServer in prodServerStatus | orderBy: 'node'">
					<td class="col-4">{{prodServer.node}}</td>
					<!-- only show one based on the aceStatus -->
					<td class="col-4" ng-show="{{prodServer.aceStatus}}">
						<a class="badge badge-success" href="{{prodServer.url}}" target="_blank">Online</a>
					</td>
					<td class="col-4" ng-show="!{{prodServer.aceStatus}}">
						<a class="badge badge-danger" href="{{prodServer.url}}" target="_blank">Offline</a>
					</td>
					<td class="col-4">
						<span ng-bind-html='prodServer.ingestStatus | statusDisplay:prodServer.ingestStatus:prodServer.ingestUrl'></span>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="m-3" ng-show="loading.production">
			<div class="d-flex justify-content-center">
				<div class="spinner-border text-secondary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>		

		<!--
				Dismissible alert for no data. The alert is displayed when showAlertMessage
				is true. The Angular directive alertMessage is defined in:
				js/alertMessage.js
		-->
		<alert-message><strong>Note:</strong> No data found for selection.</alert-message>

	</div>
</div>

<div class="row">
	<div class="col">

		<h3>Test</h3>

		<table class="table table-sm table-striped">
			<thead class="thead-dark">
				<tr class="d-flex">
					<th class="col-4" scope="col">Node</th>
					<th class="col-4" scope="col">Ace Status</th>
					<th class="col-4" scope="col">Ingest Status</th>
				</tr>
			</thead>
			<tbody>
				<tr class="d-flex" ng-repeat="testServer in testServerStatus | orderBy: 'node'">
					<td class="col-4">{{testServer.node}}</td>
					<!-- only show one based on the aceStatus -->
					<td class="col-4" ng-show="{{testServer.aceStatus}}">
						<a class="badge badge-success" href="{{testServer.url}}" target="_blank">Online</a>
					</td>
					<td class="col-4" ng-show="!{{testServer.aceStatus}}">
						<a class="badge badge-danger" href="{{testServer.url}}" target="_blank">Offline</a>
					</td>
					<td class="col-4">
						<span ng-bind-html='testServer.ingestStatus | statusDisplay:testServer.ingestStatus:testServer.ingestUrl'></span>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="m-3" ng-show="loading.test">
			<div class="d-flex justify-content-center">
				<div class="spinner-border text-secondary" role="status">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
		</div>

		<!--
				Dismissible alert for no data. The alert is displayed when showAlertMessage
				is true. The Angular directive alertMessage is defined in:
				js/alertMessage.js
		-->
		<alert-message><strong>Note:</strong> No data found for selection.</alert-message>

	</div>
</div>
